<template>
	<div class="table-container">
		<h4>{{ title }}</h4>
		<table :style="'background-color: ' + background + '; font-size: ' + font_size">
			<tr>
				<th>Name</th>
				<th>Contact</th>
				<th>Country</th>
			</tr>
			<tr v-for="(employer, e) in employers" :key="e">
				<td>{{ employer.name }}</td>
				<td>{{ employer.contact }}</td>
				<td>{{ employer.country }}</td>
			</tr>
		</table>
	</div>
</template>
  
<script>
export default {
	props: {
		employers: {
			type: Array
		},
		background: {
			type: String
		},
		font_size: {
			type: String
		},
		title: {
			type: String
		},
	},
};
</script>
  
<style scoped>
</style>