<template>
	<div id="app">
		<table-component v-for="(table, index) in table_prop" 
			:key="index" 
			:title="table.title"
			:background="table.background" 
			:font_size="table.font_size" 
			:employers="tables[index]">
		</table-component>
	</div>
</template>
  
<script>

import TableComponent from './components/TableComponent.vue'

export default {
	name: 'App',
	components: {
		TableComponent
	},
	data() {
		return {
			table_prop: [
				{
					'title': 'Male employers',
					'background': 'orange',
					'font_size': '1.2rem'
				},
				{
					'title': 'Female employers',
					'background': 'red',
					'font_size': '1.2rem'
				},
				{
					'title': 'Pets',
					'background': 'green',
					'font_size': '1rem'
				}
			],
			tables: [
				[
					{
						'name': 'Miguel Ángel',
						'contact': 'miguelangel@empresa.com',
						'country': 'Germany'
					},
					{
						'name': 'Juan Carlos',
						'contact': 'juancarlos@empresa.com',
						'country': 'Mexico'
					},
					{
						'name': 'Carlos Alberto',
						'contact': 'carlosalberto@empresa.com',
						'country': 'Argentina'
					}
				],
				[
					{
						'name': 'Crésida Mendez',
						'contact': 'cresidamendez@empresa.com',
						'country': 'Germany'
					},
					{
						'name': 'Adara Perez',
						'contact': 'adaraperez@empresa.com',
						'country': 'Mexico'
					},
					{
						'name': 'Julieta Gonzales',
						'contact': 'julietagonzales@empresa.com',
						'country': 'Argentina'
					}
				],
				[
					{
						'name': 'Toto',
						'contact': '-',
						'country': 'Germany'
					},
					{
						'name': 'Ninja',
						'contact': '-',
						'country': 'Mexico'
					},
					{
						'name': 'Luke',
						'contact': '-',
						'country': 'Argentina'
					}
				],
			]
		}
	}
}
</script>